* {
    box-sizing: border-box;
}

:root {

    --margin-01: 8px;
    --margin-h: calc(var(--margin-01)* 0.5);
    --margin-hh: calc(var(--margin-01)* 0.25);
    --margin-02: calc(var(--margin-01)* 2);
    --margin-03: calc(var(--margin-01)* 3);
    --margin-04: calc(var(--margin-01)* 4);
    --margin-05: calc(var(--margin-01)* 5);
    --margin-06: calc(var(--margin-01)* 6);
    --margin-07: calc(var(--margin-01)* 7);
    --margin-08: calc(var(--margin-01)* 8);
    --margin-09: calc(var(--margin-01)* 9);
    --margin-10: calc(var(--margin-01)* 10);


    --bg: #F8EEE4;
    --fg: #FF3F6B;
    --black: #000;
    --gray: #8b8b8b;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    height: 100%;
    min-width: 1000px;
    max-width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg);
    color: black;
}

body.-dark{
    --bg: #FF3F6B;
    --fg: #000;
    --black: #F8EEE4;
    --gray: #8b8b8b;
}

#header {
    width: 100%;
    background-color: var(--fg);
    padding: var(--margin-01);
    color: var(--bg);
}

#header .wrapper {
    display: flex;
    justify-content: center;
    
}

.title {
    padding-left: var(--margin-05);
    padding-right: var(--margin-05);
}

.menu {
    font-size: var(--margin-03);
}

.item {
    font-size: var(--margin-03);
    margin: var(--margin-03);
}

.header_links {
    text-decoration: none;
    color: var(--bg);
}

#button {
    background-color: #FF3F6B;
    border: 1px solid var(--bg);
    border-radius: 10px;
    padding-top: var(--margin-01);
    cursor: pointer;
}

#button:hover {
    background-color: var(--black);
    color: var(--fg);
    transition: ease-in-out .2s;
}

#button.-dark{
    color: var(--black);
}

#main {
    width: 100%;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

#main .wrapper {
    text-align: center;
    width: 100%;
}

.welcome {
    height: 100vh;
    background-image: url(flowergirl2.png);
    width: 100%;
    display: block;
    background-size: cover;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.title_2    {
    margin-top: 0;
    padding: var(--margin-02);
    font-size: var(--margin-07);
    color: var(--bg);
    border: solid 5px var(--bg);
    border-radius: 30px;
    filter: none;
    font-weight: lighter;
    cursor: pointer;
    /* -webkit-text-stroke-width: .8px;
    -webkit-text-stroke-color: var(--black); */
}

.title_2:hover  {
    background-color: var(--fg);
    transition: ease-in-out .2s;
}

.contents   {
    display: flex;
    flex-flow: row;
    height: 50vh;
}

.bloc {
    padding: var(--margin-10);
    flex-grow: .5;
    background-size: cover;
    /* filter: blur(2px); */
}


.bloc:first-child {
    background-image: url(ranita2.png);
    border-right: none;
}

.bloc:last-child    {
    background-image: url(me.png);
    border-left: none;
}

.text_3 {
    margin: 0;
    padding: var(--margin-05);
    padding-left: var(--margin-01);
    padding-right: var(--margin-01);
    color: var(--bg);
    border: solid 5px var(--bg);
    border-radius: 30px;
    font-size: 2em;
    font-weight: lighter;
}

.text_3:hover{
    background-color: var(--fg);
    transition: ease .2s;
}

h4{
    font-weight: lighter;
}

#footer .wrapper{
    display: flex;
    flex-flow: row;
    min-width: 100%;
}

#name {
    padding: var(--margin-03);
    flex-grow: 1;
    color: var(--gray);
}

.icon {
    padding: 0;
    margin: var(--margin-03);
}